<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Land Edit - Champions of Guilds &amp; Strongholds</title>

    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/style.css?v=<%= viewModel.timestamp %>">
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/ui.css?v=<%= viewModel.timestamp %>">

    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/lodash-4.17.10.js"></script>

    <style>
      body {
        padding: 10px 30px 10px 30px;
        background-color: #300a24;
        color: #999;
        overflow: auto;


        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -o-crisp-edges;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
      }

      .board {
        margin-top: 72px;
        display: inline-block;
        white-space: nowrap;
        width: auto;
      }

      .board .square {
        display: inline-block;
        min-width: 350px;
        min-height: 350px;
        padding: 10px 0px 0px 90px;
        box-sizing: border-box;
        border-top: 1px solid #300a24;
        border-right: 1px solid #300a24;
        margin-top: -2px;
        border: 1px solid white;
        color: white;
      }

      .board .square input,
      .board .square select,
      .board .square span {
        vertical-align: middle;
      }

      .board .square select {
        width: 120px;
      }

      .board .square .icon {
        display: inline-block;
        height: 26px;
        width: 18px;
        margin: 3px 3px 3px 2px;
        font-size: 22px;
        
      }

      .menu {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #300a24;
        padding: 0px 30px 10px 30px;
      }

      .seperator-10 {
        margin-top: 10px;
      }

      .clearfix {
        clear: both;
      }

      .hidden {
        visibility: hidden;
      }

      select {
        background-color: #ddd;
      }

    </style>

  </head>

  <body>
    <div data-menu class="menu">
      <div class="seperator-20"></div>
      <a href="<%= viewModel.baseurl %>/editorLand/landChoose">Back to land selection</a>
      <span> | </span>
      <form class="inline-block" action="<%= viewModel.baseurl %>/editorLand/landRandomizePost" method="post">
        <input type="hidden" name="landId" value="<%- viewModel.landId %>">
        <button type="submit">Random Land</button>
      </form>
      <span> | </span>
      <form class="inline-block" action="<%= viewModel.baseurl %>/editorLand/landGenerateMapPost" method="post">
        <input type="hidden" name="landId" value="<%- viewModel.landId %>">
        <button type="submit">Generate Map</button>
      </form>
    </div>

    <table data-board class="board">
    </table>

    <div class="seperator-40"></div>
    <div class="seperator-40"></div>
  </body>

  <script>
    // Generate and provide land editor
    'use strict';

    const data = <%- JSON.stringify(viewModel.land) %>;
    const availableConditions = <%- JSON.stringify(viewModel.conditions) %>;
    const baseurl = '<%- viewModel.baseurl %>';
    const landId = '<%- viewModel.landId %>';

    const state = {};
    state.selected = 'empty';
    state.landLayer = data.landLayer;

    const height = state.landLayer.length;
    const width = state.landLayer[0].length;

    (function init() {
      boardGenerate();
      boardOnChange();
      console.log(availableConditions);
    })();

    function boardGenerate() {
      const $board = $('[data-board]');
      $board.html('');

      state.landLayer.forEach((row, y) => {
        let html = '<tr>';
        row.forEach((parcel, x) => {
          const level = parcel.level;
          const conditions = parcel.conditions; 
          html += '<td data-square data-x="' + x + '" data-y="' + y + '" class="square">';

            html += '<div class="icon">♞</div>';
            html += '&nbsp';
            html += '<select data-level>';
              _.range(1, 6).forEach((index) => {
                if (index == level) {
                  html += '<option name="level" value="' + index + '" selected="selected">Level ' + index + '</option>';
                } else {
                  html += '<option name="level" value="' + index + '">Level ' + index + '</option>';
                }
              });
            html += '</select>';

            _.range(9).forEach((index) => {
              let name = 'Nothing';
              let monster = false;

              if (conditions[index]) {
                name = conditions[index].name;
                monster = (conditions[index].monster === true);
              }

              html += '<p>';

              if (monster) {
                html += '<input name="monster" type="checkbox" title="Protected by monster" checked="checked">';
              } else {
                html += '<input name="monster" type="checkbox" title="Protected by monster">';
              }

              html += '&nbsp';
              html += '<select name="name">';
                html += '<option value="Nothing">-</option>';
                availableConditions.forEach((availableConditionName) => {
                  if (name === availableConditionName) {
                    html += '<option value="' + availableConditionName + '" selected="selected">' + availableConditionName + '</option>';
                  } else {
                    html += '<option value="' + availableConditionName + '">' + availableConditionName + '</option>';
                  }
                });
              html += '</select>';

              html += '</p>';
            });

          html += '</td>';
        });
        html += '</tr>'
        $board.append(html);
      });
    }

    function boardOnChange() {
      $('select, input[type=checkbox]').on('change', (event) => {
        const $select = $(event.currentTarget);
        readSaveBoard();
      });
    }

    function readSaveBoard() {
      const landLayer = [];
      _.times(height, () => {
        const row = [];
        _.times(width, () => {
          row.push({
            level: 0,
            conditions: [],
          });
        });
        landLayer.push(row);
      });

      $('[data-square]').each((index, element) => {
        const $square = $(element);
        const x = $square.attr('data-x');
        const y = $square.attr('data-y');
        let level = $square.find('[data-level]').val();
        const conditions = [];

        $square.find('p').each((index, element) => {
          const $p = $(element);
          const name = $p.find('[name=name]').val();
          let monster = $p.find('[name=monster]').prop('checked');

          if (name !== 'Nothing') {
            conditions.push({
              name: name,
              monster: monster
            });
          }
        });

        landLayer[y][x].level = level;
        landLayer[y][x].conditions = conditions;
      });

      console.log('after', landLayer);
      save(landLayer);
    }

    function save(landLayer) {
      const data = { landId: landId, landLayer: landLayer };
      $.post('/editorLand/landSavePost', data, () => {});
    }

  </script>

</html>
