<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Land Choose - Champions of Guilds &amp; Strongholds</title>

    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/style.css?v=<%= viewModel.timestamp %>">
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/ui.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <div class="card-brown">
      <div class="seperator-20"></div>
      <a href="<%= viewModel.baseurl %>/panelPredefined">Back to panel</a>
      <div class="seperator-20"></div>

      <h1>Create Empty Land:</h1>

      <form class="inline-block" action="/editorLand/landCreateNewPost" method="post">
        <p>Name: <input name="landId" type="text" /></p>
        <p>Width: <input name="width" type="number" value="2" /></p>
        <p>Height: <input name="height" type="number" value="2" /></p>

        <div class="seperator-10"></div>

        <p><button data-button-ready>Create</button></p>
      </form>

      <div class="seperator-20"></div>

      <h1>Edit Existing Land:</h1>

      <% viewModel.landNameArray.forEach((landId) => { %>
        <a href="<%= viewModel.baseurl %>/editorLand/landEdit?landId=<%= landId %>"><%= landId %></a> 
        <div class="seperator-10"></div>
      <% }); %>

      <div class="seperator-20"></div>

  </body>
</html>
