<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Champions of Guilds &amp; Strongholds</title>
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/style.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <h1>Champions of Guilds &amp; Strongholds - create game</h1>

    <form action="<%= viewModel.baseurl %>/0.1/createGamePost" method="POST">
      <button class="js-create" type="submit">Create Game</button>

      <div class="seperator-20"></div>

      <span>Map:</span><br />
      <select name="mapName">
        <% viewModel.mapNameArray.forEach((mapName) => { %>
          <option value="<%= mapName %>"><%= mapName %></option>
        <% }); %>
      </select>
    </form><br />
    <% viewModel.gameInstances.forEach((gameInstance) => { %>
      map name: <%= gameInstance.mapName %><br />
      game token: <%= gameInstance._id %><br />
      <% gameInstance.players.forEach((player) => { %>
        Player name: <%= player.name %><br />
        Player token:<%= player.token %><br />
      <% }); %>
      <br />
    <% }); %>
  </body>
</html>
