<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Champions of Guilds &amp; Strongholds</title>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 

    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/style.css?v=<%= viewModel.timestamp %>">
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/ui.css?v=<%= viewModel.timestamp %>">

    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/url-2.5.3.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/lodash-4.17.10.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/pixi-4.8.2.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/pixi-viewport-3.4.1.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/pixi-tween-0.2.0.js"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/library/pathfinding-browser-0-4-18.js"></script>
  </head>

  <body>
    <%- viewModel.htmlLaunch %>
    <%- viewModel.htmlWorld %>

    <%- viewModel.htmlPreload %>

    <script type="text/javascript" src="<%= viewModel.baseurl %>/js/g.js?v=<%= viewModel.timestamp %>"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/build/bundle.js?v=<%= viewModel.timestamp %>"></script>
    <script type="text/javascript" src="<%= viewModel.baseurl %>/js/start.js?v=<%= viewModel.timestamp %>"></script>
  </body>
</html>
