<style>
  .world-interface-buttons {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .world-interface-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 60px 10px 10px 10px;
  }
</style>

<div class="world-interface-buttons" id="js-world-buttons" style="display: none;">
  <button id="js-end-turn-button">End Turn</span></button>
  <button id="js-information-button">Infos</button>
</div>

<div class="card-brown world-interface-modal" id="js-information-modal" style="display: none;">

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/image/ui/gold.png" width="24" height="24">
    <span class="js-information-modal-gold big margin-right">0</span>
  </div>

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/image/ui/wood.png" width="24" height="24">
    <span class="js-information-modal-wood big margin-right">0</span>
  </div>

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/image/ui/stone.png" width="24" height="24">
    <span class="js-information-modal-stone big margin-right">0</span>
  </div>

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/image/ui/crystal.png" width="24" height="24">
    <span class="js-information-modal-crystal big">0</span>
  </div>

  <div class="seperator-20"></div>

  <div class="inline-block">
    <img class="vertical-align" style="margin-left: -9px;" src="<%= viewModel.baseurl %>/image/ui/heroHuman.png">
  </div>

  <div class="inline-block margin-bottom">
    <div style="height: 15px; width: 100px; border: 2px solid black">
      <div class="js-information-modal-movement background-green" style="height: 15px; width: 0px;"></div>
    </div>
  </div>

</div>
