<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Champions of Guilds &amp; Strongholds</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/style.css?v=<%= viewModel.timestamp %>">
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/css/ui.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <div class="card-brown">
      <h1>Champions of Guilds &amp; Strongholds - create game</h1>

      <form action="<%= viewModel.baseurl %>/panel/createGamePost" method="POST">
        <button class="js-create" type="submit">Create Game</button>

        <div class="seperator-20"></div>

        <span>Map:</span><br />
        <select name="mapName">
          <% viewModel.mapNameArray.forEach((mapName) => { %>
            <option value="<%= mapName %>"><%= mapName %></option>
          <% }); %>
        </select>
      </form>

      <br />
      <hr />
      <br />

      <h2>Game instances</h2>

      <div style="overflow-x:auto;">
        <table>
          <tr class="bold">
            <td>ID</td>
            <td>Map Name</td>
            <td>Player Names</td>
            <td>Player Links</td>
            <td>API entitiesGet</td>
            <td>Options</td>
          </tr>

          <% viewModel.games.forEach((game) => { %>
            <tr>
              <td><%= game._id %></td>
              <td><%= game[game._id].mapData.name %></td>
              <td>
                <% viewModel._.forEach(game, (entity) => { %>
                  <% if (entity.playerToken && entity.playerData) { %>
                    <%= entity.playerData.name %><br/>
                  <% } %>
                <% }); %>
              </td>
              <td>
                <% viewModel._.forEach(game, (entity) => { %>
                  <% if (entity.playerToken && entity.playerData) { %>
                    <% const uri = '/game?gameId=' + game._id + '&playerToken=' + entity.playerToken; %>
                    <a href="<%= viewModel.baseurl + uri %>">Open Map</a>
                    <br/>
                  <% } %>
                <% }); %>
              </td>
              <td>
                <% viewModel._.forEach(game, (entity) => { %>
                  <% if (entity.playerToken && entity.playerData) { %>
                    <% const uri = '/ajax/entitiesGet?gameId=' + game._id + '&playerToken=' + entity.playerToken; %>
                    <a href="<%= viewModel.baseurl + uri %>">/ajax/entitiesGet</a>
                    <br/>
                  <% } %>
                <% }); %>
              </td>
              <td>
                <form class="" action="/panel/deleteGamePost" method="post">
                  <input name="gameId" type="hidden" value="<%= game._id %>">
                  <button type="submit">Delete game</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </table>
      </div>
    </div>

    <div style="display: none;">
       <img src="<%= viewModel.baseurl %>/image/ui/border-image-button-down.png">
    </div>
  </body>
</html>
