<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Champions of Guilds &amp; Strongholds</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link rel="stylesheet" href="<%= viewModel.baseurl %>/style.css?v=<%= viewModel.timestamp %>">
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/ui.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <div class="modal-background margin-all">
      <h1>Champions of Guilds &amp; Strongholds - create game</h1>

      <form action="<%= viewModel.baseurl %>/panel/createGamePost" method="POST">
        <button class="js-create" type="submit">Create Game</button>

        <div class="seperator-20"></div>

        <span>Map:</span><br />
        <select name="mapName">
          <% viewModel.mapNameArray.forEach((mapName) => { %>
            <option value="<%= mapName %>"><%= mapName %></option>
          <% }); %>
        </select>
      </form>

      <br />
      <hr />
      <br />

      <h2>Game instances</h2>

      <div style="overflow-x:auto;">
        <table>
          <tr class="bold">
            <td>ID</td>
            <td>Map Name</td>
            <td>Player Names</td>
            <td>Player Links</td>
            <td>API stateDataGet</td>
            <td>Options</td>
          </tr>

          <% viewModel.gameArray.forEach((game) => { %>
            <tr>
              <td><%= game._id %></td>
              <td><%= game.mapName %></td>
              <td>
                <% game.playerArray.forEach((player) => { %>
                  <%= player.name %><br/>
                <% }); %>
              </td>
              <td>
                <% game.playerArray.forEach((player) => { %>
                  <% const uri = '/game?gameId=' + game._id + '&playerToken=' + player.token; %>
                  <a href="<%= viewModel.baseurl + uri %>">Open Map</a>
                  <br/>
                <% }); %>
              </td>
              <td>
                <% game.playerArray.forEach((player) => { %>
                  <% const uri = '/ajax/stateDataGet?gameId=' + game._id + '&playerToken=' + player.token; %>
                  <a href="<%= viewModel.baseurl + uri %>">/ajax/stateDataGet</a>
                  <br/>
                <% }); %>
              </td>
              <td>
                <form class="" action="/panel/deleteGamePost" method="post">
                  <input name="gameId" type="hidden" value="<%= game._id %>">
                  <button type="submit">Delete game</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </body>
</html>
