<style>
  .world-interface-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 60px 10px 10px 10px;
  }
</style>

<div class="card-brown world-interface-modal" data-world-interface-information-modal style="display: none;">

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/sprite/gold.png" width="24" height="24">
    <span class="margin-right" data-gold>0</span>
  </div>

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/sprite/wood.png" width="24" height="24">
    <span class="margin-right" data-wood>0</span>
  </div>

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/sprite/stone.png" width="24" height="24">
    <span class="margin-right" data-stone>0</span>
  </div>

  <div class="inline-block">
    <img class="vertical-align" src="<%= viewModel.baseurl %>/sprite/crystal.png" width="24" height="24">
    <span data-crystal>0</span>
  </div>

  <div class="seperator-20"></div>

  <div class="inline-block">
    <img class="vertical-align" style="margin-top: -40px;" src="<%= viewModel.baseurl %>/sprite/iconMovementTransparent.png">
  </div>

  <div class="inline-block margin-bottom">
    <div style="height: 15px; width: 100px; border: 2px solid black">
      <div class="background-green" style="height: 15px; width: 0px;" data-movement></div>
    </div>
  </div>

  <div class="seperator-20"></div>

  <div>Hero units</div>

  <div class="seperator-20"></div>

  <div class="inline-block" data-recruit-unit>
  </div>
</div>
